@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --radius-4xl: 2.5rem;

  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-display--font-variation-settings: "wdth" 125;
  --font-display-length: 2;

  --color-carmen-red: #c1121f;
  --color-deep-noir: #1c1c1c;
  --color-explorer-yellow: #ffb705;
  --color-shadow-grave: #4ddadd;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.5s;
  opacity: 0;
}

@media screen and (min-width: 640px) {
  .prose img {
    max-width: 600px;
    /* margin: 0 auto; */
  }
}
