---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/homepage/Hero.astro";
import Prose from "../components/Prose.astro";
import Content from "../components/Content.astro";
import Cards from "../components/Cards.astro";
import Card from "../components/Card.astro";

import WhoWeAre from "../sections/homepage/who_we_are.md";
import ContactForm from "../sections/homepage/ContactForm.astro";

// These are configured as a collection in src/content/config.ts
// That may prove overkill just for cards; we'll see how it goes.
const cards = (await getCollection("cards")).sort((a, b) =>
  a.slug.localeCompare(b.slug)
);
---

<Layout>
  <Hero />
  <Content border>
    <Prose>
      <WhoWeAre />
    </Prose>
  </Content>
  <Content border className="bg-neutral-100">
    <Prose>
      <h2 id="how-we-engage">How we engage</h2>
      <Cards>
        {
          cards.map(async (card, i) => {
            const { Content: CardContent } = await card.render();
            return (
              <Card {...card.data} index={i}>
                <CardContent />
              </Card>
            );
          })
        }
      </Cards>
    </Prose>
  </Content>
  <Content border>
    <ContactForm />
  </Content>
</Layout>
