---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/homepage/Hero.astro";
import Prose from "../components/Prose.astro";
import Content from "../components/Content.astro";
import Cards from "../components/Cards.astro";
import Card from "../components/Card.astro";

import HowWeWork from "../sections/homepage/how_we_work.md";

const cards = await getCollection("cards");
---

<Layout>
  <Hero />
  <Content>
    <Prose>
      <HowWeWork />
    </Prose>
  </Content>
  <Content borders className="bg-neutral-100">
    <Prose>
      <h2>What we offer</h2>
      <Cards>
        {
          cards.map(async (card) => {
            const { Content: CardContent } = await card.render();
            return (
              <Card {...card.data}>
                <CardContent />
              </Card>
            );
          })
        }
      </Cards>
    </Prose>
  </Content>
</Layout>
