---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Hero content -->
  <section id="hero">
    <h1
      class="font-display text-carmen-red text-5xl sm:text-7xl font-medium tracking-tight text-balance leading-none"
    >
      Onboard your users faster with better data.
    </h1>
    <p class="mt-6 text-2xl text-neutral-700 leading-normal">
      We bring modern AI solutions to the tough data challenges that slow
      customer adoption of your service.
    </p>
  </section>
</Layout>
