---
// A container component to wrap page content with consistent styling
// and width/margin/padding settings.
---

<div class="max-w-6xl mx-auto px-3 sm:px-6 lg:px-8 py-10 sm:py-20">
  <slot />
</div>
