---
// Use this container class when you want to apply prose (long-form text)
// styles to content on the page.
import Content from "./Content.astro";
---

<Content>
  <div
    class="bg-blue-50 text-pretty prose prose-lg sm:prose-xl font-sans prose-h2:font-display prose-h3:font-display"
  >
    <slot />
  </div>
</Content>
