---
import TrefoilLogo from "./TrefoilLogo.astro";
---

<header class="w-full border-b border-neutral-200 py-4 px-3 sm:px-6">
  <nav class="flex items-center justify-between gap-4 text-lg sm:text-xl">
    <a
      href="/"
      class="font-display font-semibold flex-grow text-neutral-900 hover:text-carmen-red transition-colors duration-200 flex items-center gap-x-1"
      ><TrefoilLogo />Carmen AI</a
    >
    <div class="text-sm flex items-center gap-3">
      <a
        href="#how-we-work"
        class="transition-colors hover:text-carmen-red cursor-pointer"
        >How we work</a
      >
      <span class="text-neutral-300">|</span>
      <a
        href="#what-we-offer"
        class="transition-colors hover:text-carmen-red cursor-pointer"
        >What we offer</a
      >
      <span class="text-neutral-300">|</span>
      <a
        href="#contact-us"
        class="transition-colors hover:text-carmen-red cursor-pointer"
        >Contact us</a
      >
    </div>
  </nav>
</header>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
