---
import TrefoilLogo from "./TrefoilLogo.astro";
// consider locking the header to the top of the viewport
// "z-50 fixed top-0 left-0 bg-neutral-100" added to class

const links = [
  { href: "#how-we-work", text: "How we work" },
  { href: "#what-we-offer", text: "What we offer" },
  { href: "#contact-us", text: "Contact us" },
];
---

<header class="w-full border-b border-neutral-200 py-4 px-3 sm:px-6">
  <nav class="flex items-center justify-between gap-4 text-lg sm:text-xl">
    <a
      href="/"
      class="font-display font-semibold flex-grow text-neutral-900 hover:text-carmen-red transition-colors duration-200 flex items-center gap-x-1"
      ><TrefoilLogo />Carmen AI</a
    >
    <div class="text-sm flex items-center gap-3">
      {
        links.map((link, index) => (
          <>
            <a
              href={link.href}
              class="transition-colors hover:text-carmen-red cursor-pointer"
            >
              {link.text}
            </a>
            {index < links.length - 1 && (
              <span class="text-neutral-300">|</span>
            )}
          </>
        ))
      }
    </div>
  </nav>
</header>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
